<div class="row" style="font-size: 12px;">
	<div class="col-lg-3" style="margin-top: 20px;">
		<!-- <div class="row">
	<div class="col-lg-4" style="margin-top: 20px;"> -->
		<ul class="nav nav-pills nav-stacked"
			style="width: 100%; background-color: #F8F8F8">
			<li ng-class="{'active' : selection == 'views/cloud.html'}"><a
				href="javascript:;" ng-click="selection = 'views/cloud.html'"><span
					class="glyphicon glyphicon-cloud"></span> &nbsp;<span
					translate="global.menu.accountsettings.list.cloud">Cloud</span></a></li>
			<li ng-class="{'active' : selection == 'views/users.html'}"><a
				href="javascript:;" ng-click="selection = 'views/users.html'"><span
					class="glyphicon glyphicon-user"></span> &nbsp;<span
					translate="global.menu.accountsettings.list.users">Users</span></a></li>
			<li ng-class="{'active' : selection == 'views/permissions.html'}"><a
				href="javascript:;" ng-click="selection = 'views/permissions.html'"><span
					class="glyphicon glyphicon-list"></span> &nbsp;<span
					translate="global.menu.accountsettings.list.permissions">Permissions</span></a></li>
			<li ng-class="{'active' : selection == 'views/datasources.html'}"><a
				href="javascript:;" ng-click="selection = 'views/datasources.html'"><span
					class="glyphicon glyphicon-align-justify"></span> &nbsp;<span
					translate="global.menu.accountsettings.list.datasources">Datasources</span></a></li>
		</ul>
	</div>

	<div class="col-lg-9" style="margin-top: 20px; background-color: #F8F8F8; font-size: 12px;">
		<div ng-include src="selection"></div>
	</div>
</div>
