<div>
	<h3>Application Image Configs</h3>
	<div class="wizard" id="appImageConfigWzd"
		data-title="Application Config">
		<div class="wizard-card" data-cardname="card1" id="card1">
			<h3 hidden="true">App Name</h3>
			<div class="wizard-input-section "   >
				<label>App Name</label> <input id="appName" type="text" class="form-control"
					name="appName" ng-model="appImageCfgDTO.appName" ng-minlength=1
					ng-maxlength=50 required />
			</div>

			<div class="wizard-input-section">

				<div class="row" >
					<div class=" col-xs-4" ng-repeat="svcImg in serviceImages">
						<div class="thumbnail">
							<a ng-click=setService(svcImg.id,svcImg.imageName)> <img class="thumbnail"
								ng-src="{{svcImg.logoURL}}" alt="">
							</a>
							<div class="caption" style="padding: 2px">
								<p>{{svcImg.name}}</p>
							</div>
						</div>
					</div>
					
					
<!-- 					<div class=" col-xs-4">
						<div class="thumbnail">
							<a ng-click=setService('nodejs')> <img class="thumbnail"
								src="http://placehold.it/170x140" alt="">
							</a>
							<div class="caption" style="padding: 2px">
								<p>NodeJS</p>
							</div>
						</div>
					</div>
					
					<div class=" col-xs-4">
						<div class="thumbnail">
							<a ng-click=setService('python')> <img class="thumbnail"
								src="http://placehold.it/170x140" alt="">
							</a>
							<div class="caption" style="padding: 2px">
								<p>Python</p>
							</div>
						</div>
					</div> -->
				</div>
			</div>
		</div>
		<div class="wizard-card" data-cardname="card2">
			<h3 hidden="true">Machine Configuration</h3>
			<div class="wizard-input-section">
				<label>Memory (MB)</label> <input type="text" class="form-control"
					name="memory" ng-model="appImageCfgDTO.memory" ng-minlength=1
					ng-maxlength=50 required />
			</div>

			<div class="wizard-input-section">
				<label>Memory Swap (MB)</label> <input type="text"
					class="form-control" name="memorySwap"
					ng-model="appImageCfgDTO.memorySwap" ng-minlength=1 ng-maxlength=50
					required />
			</div>

			<div class="wizard-input-section">
				<label>CPU Shares</label> <input type="text" class="form-control"
					name="cpuShares" ng-model="appImageCfgDTO.cpuShares" ng-minlength=1
					ng-maxlength=50 required />
			</div>			
		</div>

		<div class="wizard-card" data-cardname="card3">
			<h3 hidden="true">Environment</h3>
			<div id="formDiv"></div>
		</div>

		<div class="wizard-card" data-cardname="card4">
			<h3 hidden="true">Services</h3>
			<div class="wizard-input-section">
				<h2>NA</h2>
			</div>
		</div>

		<div class="wizard-error">
			<div class="alert alert-error">
				<strong>There was a problem</strong> with your submission. Please
				correct the errors and re-submit.
			</div>
		</div>

		<div class="wizard-failure">
			<div class="alert alert-error">
				<strong>There was a problem</strong> submitting the form. Please try
				again in a minute.
			</div>
		</div>

		<div class="wizard-success">
			<div class="alert alert-success">
				<span class="create-server-name">{{appImageCfgDTO.appName}}</span> was
				created <strong>successfully.</strong>
			</div>

			<a class="btn create-another-server">Configure another Image</a> <span
				style="padding: 0 10px">or</span> <a class="btn im-done">Done</a>
		</div>
	</div>


	<!-- 	<div class="modal fade" id="saveAppImageCfgModal" tabindex="-1"
		role="dialog" aria-labelledby="myAppImageCfgLabel" aria-hidden="true">
		<div class="modal-dialog">
			
		</div>
	</div> -->

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>App Name</th>
					<th></th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="appimagecfg in appimagecfgs">
					<td>{{appimagecfg.appName}}</td>
					<td>
						<button type="submit" ng-click="update(appimagecfg.id)"
							class="btn">
							<span class="glyphicon glyphicon-pencil"></span> Edit
						</button>
						<button type="submit" ng-click="delete(appimagecfg.id)"
							class="btn btn-danger">
							<span class="glyphicon glyphicon-remove-circle"></span> Delete
						</button>
						<button ng-if="!appimagecfg.running" type="start" ng-click="start(appimagecfg.id)"
							class="btn">
							<span class="glyphicon glyphicon-play-circle"></span> Start
						</button>
						
						<button ng-if="appimagecfg.running" type="start" ng-click="stop(appimagecfg.id)"
							class="btn">
							<span class="glyphicon glyphicon-play-circle"></span> Stop
						</button>

					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<button class="btn btn-primary btn-lg"
		style="font-size: 12px; float: right;" data-toggle="modal"
		data-target="#appImageConfigWzd" id="open-wizard"
		ng-click="openWizard()">
		<span class="glyphicon glyphicon-flash"></span> New AppImageCfg
	</button>
	
	<script type="text/ng-template" id="deleteConfirm.html">
		<div id="confirmDeleteApp">	
			<div class="modal-header">
				<h4>Confirm Delete</h4>
			</div>
			<div class="modal-body">
				Are you sure you want to delete selected App Image ?
			</div>
			<div class="modal-footer">
				<button class="btn btn-primary" ng-click="ok()">Ok</button>
				<button class="btn btn-warning" ng-click="cancel()">Cancel</button>
			</div>
		</div>
	</script>
	
	
</div>
