<div>

	<h3>Image Configuration</h3>

	<div class="modal fade" id="saveImageInfoModal" tabindex="-1"
		role="dialog" aria-labelledby="myImageInfoLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<form name="form" role="form" novalidate
					class="ng-scope ng-invalid ng-invalid-required ng-dirty ng-valid-minlength"
					ng-submit="create()">

					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal"
							aria-hidden="true" ng-click="clear()">&times;</button>
						<h4 class="modal-title" id="myImageInfoLabel">Create or edit
							a ImageInfo</h4>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label>Image Name</label> <input type="text" class="form-control"
								name="id" ng-model="imageinfo.imageName" required>
						</div>

						<div class="form-group">
							<label>Is Service Image? </label> <input type="checkbox"
								name="test" style="padding: 5px"
								ng-model="imageinfo.isServiceImage" required>
						</div>

						<div class="form-group">
							<label>Image Logo Url</label> <input type="text"
								class="form-control" name="test" ng-model="imageinfo.logoURL"
								required>
						</div>

						<div class="form-group">
							<label>Environment Form Block</label>
							<textarea rows="5" cols="50" class="form-control"
								ng-model="imageinfo.envFormBlock" required></textarea>

						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal"
							ng-click="clear()">Cancel</button>
						<button type="submit" ng-disabled="form.$invalid"
							class="btn btn-primary">Save</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Image Name</th>
					<th>Logo</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="imageinfo in imageinfos">
					<td>{{imageinfo.id}}</td>
					<td><img class="thumbnail"
								ng-src="{{ imageinfo.logoURL}} alt=""></td>
					<td>{{imageinfo.sampleDateAttribute}}</td>
					<td>
						<button type="submit" ng-click="update(imageinfo.id)" class="btn">
							<span class="glyphicon glyphicon-pencil"></span> Edit
						</button>
						<button type="submit" ng-click="delete(imageinfo.id)"
							class="btn btn-danger">
							<span class="glyphicon glyphicon-remove-circle"></span> Delete
						</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>

	<button class="btn btn-primary btn-lg"
		style="font-size: 12px; float: right;" data-toggle="modal"
		data-target="#saveImageInfoModal">
		<span class="glyphicon glyphicon-flash"></span> New Image Config
	</button>
</div>
