<div class="bs-docs-section">
	<div class="row"
		style="margin-top: 30px; margin-bottom: 30px; margin-left: 50px;">
		<div class="col-lg-4"></div>
		<!-- <div class="col-lg-6">
			<img src="images/cloudezz-logo-272x120.png">
		</div> -->
	</div>

	<div class="row">
		<div class="col-lg-3"></div>
		<div class="col-lg-6">
			<div class="alert alert-danger" ng-show="authenticationError"
				translate="login.messages.error.authentication">
				<strong>Authentication failed!</strong> Please check your
				credentials and try again.
			</div>
			<div class="alert alert-danger" ng-show="accountInActiveError"
				translate="login.messages.error.inactive">
				<strong>Authentication failed!</strong> User Account Inactive.
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-lg-3"></div>
		<div class="col-lg-6">
			<div class="well bs-component">
				<form class="form-horizontal">
					<fieldset>
						<legend>Login</legend>
						<div class="form-group col-sm-12">
							<div class="col-lg-12">
								<label for="username" class="control-label"
									translate="login.form.username" style="margin-bottom: 5px;">Username</label>
								<input type="text" class="form-control" id="username"
									placeholder="{{'login.form.username.placeholder' | translate}}"
									ng-model="username">
							</div>
						</div>

						<div class="form-group col-sm-12">
							<div class="col-lg-12">
								<label for="password" class="control-label"
									translate="login.form.password" style="margin-bottom: 5px;">Password</label>
								<input type="password" class="form-control" id="password"
									placeholder="{{'login.form.password.placeholder' | translate}}"
									ng-model="password">
								<div class="checkbox">
									<label> <input type="checkbox" id="rememberMe"
										ng-model="rememberMe" checked
										translate="login.form.rememberme"> Remember me
									</label>
								</div>
							</div>
						</div>

						<div class="form-group col-sm-12">
							<div class="col-lg-10">
								<button type="submit" ng-click="login()" class="btn btn-primary">Login</button>
							</div>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
	</div>
</div>