
<div class="wrapper" style="margin-top:-30px;">

	<div class="header" ng-switch="authenticated">
		<ul class="nav nav-pills pull-right">
			<li class="active"><a href="#"> <span
					class="glyphicon glyphicon-home"></span> <span
					translate="global.menu.home">Home</span>
			</a></li>
			<li><a href="#"> <span class="glyphicon glyphicon-home"></span>
					<span translate="global.menu.blog">Blog </span></a></li>
			<li><a href="#/login"> <span class="glyphicon glyphicon-home"></span>
					<span translate="global.menu.login">Login </span></a></li>
		</ul>
		<h3 class="text-muted"></h3>
	</div>
	<div class="container bg-image">
		<div class="row">
			<div class="col-md-12">
				<div class="links">
					<!--                    	<ul class="nav nav-pills">
                          <li class="active" ><a href="#" >Home</a></li>
                           <li ><a href="#" >Blog</a></li>
                          <li><a href="#">Login</a></li>
                          <li><a href="#">Account</a></li>
                        </ul> -->
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-6">
				<img style="height: 500px" src="images/bg-image.png">
			</div>

			<div class="col-xs-12 col-sm-6 col-md-5 content" style="margin-top:60px;">
				<h1>HEADING TEXT WILL BE REPLACED LATER.</h1>
				<p class="text">Lorem ipsum dolor sit amet, consectetuer
					adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
					Cum sociis natoque penatibus et magnis dis parturient montes,
					nascetur ridiculus mus. Donec quam felis, ultricies nec,
					pellentesque eu, pretium quis, sem.</p>
				<div class="btn-group">
					<a href="#/signup"><button type="button" class="btn btn-success">Signup</button></a>
					<!-- <div class="signup-text"><img src="images/sign-up-text.png"></div> -->
				</div>
				<p>
					<strong>ALREADY BOUGHT? GO TO <a href="#">YOUR
							DOWNLOADS</a></strong>
				</p>
				<div class="social-links">
					<a href="#"><img src="images/social-links.png"></a>
				</div>
			</div>
		</div>
	</div>
</div>




