
<div class="wrapper" style="margin-top: -40px;">

	<div class="header" ng-switch="authenticated">
		<ul class="nav nav-pills pull-right">
			<li class="active"><a href="#"> <span
					class="glyphicon glyphicon-home"></span> <span
					translate="global.menu.home">Home</span>
			</a></li>
			<li><a href="#"> <span class="glyphicon glyphicon-home"></span>
					<span translate="global.menu.blog">Blog </span></a></li>
			<li><a href="#/login"> <span
					class="glyphicon glyphicon-home"></span> <span
					translate="global.menu.login">Login </span></a></li>
		</ul>
		<h3 class="text-muted"></h3>
	</div>
	<div class="container bg-image">
		<div class="row">
			<div class="col-md-12">
				<div class="links">
					<!--                    	<ul class="nav nav-pills">
                          <li class="active" ><a href="#" >Home</a></li>
                           <li ><a href="#" >Blog</a></li>
                          <li><a href="#">Login</a></li>
                          <li><a href="#">Account</a></li>
                        </ul> -->
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-sm-6 col-md-6">
				<img style="height: 500px" src="images/bg-image.png">
			</div>

			<div class="col-xs-12 col-sm-6 col-md-5 content"
				style="margin-top: 50px;">
				<h1>Deploy and scale applications in seconds.</h1>
				<br>

				<p class="text-muted" align="justify">Cloudezz helps developers
					to focus on developing code & not on setting up and maintaining
					servers. We support numerous technologies thus helping you launch
					fast & scale efficiently, launch applications on enterprise or
					public cloud in seconds. There is no more the need to configure
					servers, firewalls, application servers, security etc. Its all done
					and available for you to use right away.</p>
				<br>
				<div class="btn-group">
					<a href="#/signup"><button type="button"
							class="btn btn-big-signup">Sign up</button></a>
					<!-- <div class="signup-text"><img src="images/sign-up-text.png"></div> -->
				</div>
				<br> <br> <br>

				<div class="social-links">
					<a href="#"><img src="images/social-links.png"></a>
				</div>
			</div>
		</div>
	</div>
</div>




