<div class="row" style="height: 200px;">
	<div class="navbar-collapse collapse" id="navbar-main">
		<ul class="nav navbar-nav navbar-left">

			<li><a href="/#/appimagecfg"> <span
					class="glyphicon glyphicon-align-justify"></span> <span>Create
						role</span>
			</a></li>
			<li><a href="/#/appimagecfg"> <span
					class="glyphicon glyphicon-align-justify"></span> <span>Role
						permissions</span>
			</a></li>
			<li><a href="/#/appimagecfg"> <span
					class="glyphicon glyphicon-align-justify"></span> <span>Assign
						permissions</span>
			</a></li>
		</ul>
	</div>
</div>
