<div class="row">
	<div class="navbar-collapse collapse" id="navbar-main">
		<ul class="nav navbar-nav navbar-left">

			<li><a href="/#/appimagecfg"> <span
					class="glyphicon glyphicon-align-justify"></span> <span>Create
						role</span>
			</a></li>
			<li><a href="/#/appimagecfg"> <span
					class="glyphicon glyphicon-align-justify"></span> <span>Role
						permissions</span>
			</a></li>
			<li><a href="/#/appimagecfg"> <span
					class="glyphicon glyphicon-align-justify"></span> <span>Assign
						permissions</span>
			</a></li>
		</ul>
	</div>


</div>
<div class="row"
	style="border: 1px solid #D8D8D8; margin: 20px; height: 450px; padding: 10px;">
	<div class="col-lg-2" style="margin-top: 8px; margin-right: -30px;">Role
		name :</div>
	<input class="col-lg-4" type="text">
	<div class="col-lg-1" style="margin-top:2px;">
		<a class="btn btn-sm btn-primary">Add</a>
	</div>
</div>

