<div class="container" style="width: 100%;">
	<div id="orgViewDiv">
		<tabset> <tab heading="Organisation">
		<div style="margin-bottom: 10px; margin-top: 10px;"></div>
		<div ng-show="!isOrgCreate" class="usrDivStyle">
			<div style="margin-bottom: 10px;">
				<input class="col-lg-4 pull-right search-box" placeholder="Search"
					type="text" ng-model="search"> <a
					ng-click="createNewOrg();" class="btn btn-med" data-toggle="modal"><span
					class="glyphicon glyphicon-flash"> </span>Create New</a>
			</div>
			<table
				class="table table-condensed table-striped table-bordered table-responsive"
				style="width: 100%; margin-bottom: 10px;">
				<thead>
					<tr style="height: 40px">
						<th>Name</th>
						<th>Description</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="org in organisations | filter:search"
						style="height: 35px;">
						<td>{{org.orgName}}</td>
						<td>{{org.orgDesc}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div id="orgCreateView" ng-show="isOrgCreate" class="usrDivStyle">
			<button class="btn btn-primary btn-sm"
				translate="usermanage.form.backBtn" ng-click="back();">Back</button>
			<form name="orgCreateForm" role="form" novalidate
				ng-submit="createOrganisation();">
				<div class="form-group">
					<label translate="usermanage.organisation.name">Name</label> <input
						type="text" class="form-control" id="orgName"
						ng-model="orgDTO.orgName" ng-minlength=5 ng-maxlength=50 required>
				</div>
				<div class="form-group">
					<label translate="usermanage.organisation.desc">Description</label>
					<input type="text" class="form-control" id="orgDesc"
						ng-model="orgDTO.orgDesc" ng-minlength=5 ng-maxlength=50 required>
				</div>

				<button type="submit" class="btn btn-primary btn-sm"
					translate="usermanage.form.saveBtn">Save</button>

			</form>

		</div>
		</tab> <tab heading="User">
		<div id="
			inpDiv" style="margin-bottom: 10px; margin-top: 10px;">
			<div ng-show="!isUserCreate" class="usrDivStyle">
				<div style="margin-bottom: 10px;">
					<input class="col-lg-4 pull-right search-box" placeholder="Search"
						type="text" ng-model="search"> <a
						ng-click="createNewUser();" class="btn btn-med"
						data-toggle="modal"><span class="glyphicon glyphicon-flash">
					</span>Create New</a>
				</div>

				<table class="table table-condensed table-striped table-bordered table-responsive"
					style="width: 100%; margin-bottom: 10px;">
					<thead>
						<tr style="height: 40px">
							<th>First Name</th>
							<th>Last Name</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="user in users | filter:search">
							<td>{{user.firstName}}</td>
							<td>{{user.lastName}}</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="usrCreateView" ng-show="isUserCreate"
				class="usrDivStyle">
				<button class="btn btn-primary btn-sm"
					translate="usermanage.form.backBtn" ng-click="back();">Back</button>
				<form name="usrCreateForm" role="form" novalidate
					ng-submit="createUser();">
					<div class="form-group">
						<label translate="usermanage.user.firstname">First Name</label> <input
							type="text" class="form-control" id="userFName"
							ng-model="userDTO.firstName" ng-minlength=5 ng-maxlength=50
							required>
					</div>
					<div class="form-group">
						<label translate="usermanage.user.lastname">Last Name</label> <input
							type="text" class="form-control" id="userLName"
							ng-model="userDTO.lastName" ng-minlength=5 ng-maxlength=50
							required>
					</div>
					<div class="form-group">
						<label translate="usermanage.user.email">Email</label> <input
							type="text" class="form-control" id="userEmail"
							ng-model="userDTO.email" ng-minlength=5 ng-maxlength=50 required>
					</div>
					<button type="submit" class="btn btn-primary btn-sm"
						translate="usermanage.form.saveBtn">Save</button>
				</form>
			</div>
		</div>
		</tab> <tab heading="Team">
		<div style="margin-bottom: 10px; margin-top: 10px;">
			<div ng-show="!isTeamCreate" class="usrDivStyle">
				<div style="margin-bottom: 10px;">
					<input class="col-lg-4 pull-right search-box" placeholder="Search"
						type="text" ng-model="search"> <a
						ng-click="createNewTeam();" class="btn btn-med"
						data-toggle="modal"><span class="glyphicon glyphicon-flash">
					</span>Create New</a>
				</div>
				<div>
					<table class="table table-condensed table-striped table-bordered table-responsive"
						style="width: 100%; margin-bottom: 10px;">
						<thead>
							<tr style="height: 40px">
								<th>Name</th>
								<th>Description</th>
								<th>Organisation</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="team in teams | filter:search">
								<td>{{team.teamName}}</td>
								<td>{{team.teamDesc}}</td>
								<td>{{team.teamOrg}}</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div id="teamCreateView" ng-show="isTeamCreate"
				class="usrDivStyle">
				<button class="btn btn-primary btn-sm"
					translate="usermanage.form.backBtn" ng-click="back();">Back</button>
				<form name="tmCreateForm" role="form" novalidate
					ng-submit="createTeam();">
					<div class="form-group">
						<label translate="usermanage.team.name">Name</label> <input
							type="text" class="form-control" id="teamName"
							ng-model="teamDTO.name" ng-minlength=5 ng-maxlength=50 required>
					</div>
					<div class="form-group">
						<label translate="usermanage.team.desc">Description</label> <input
							type="text" class="form-control" id="teamDesc"
							ng-model="teamDTO.lastName" ng-minlength=5 ng-maxlength=50
							required />
					</div>
					<div class="form-group">
						<label translate="usermanage.team.org">Organisation</label> <select
							ng-model="teamDTO.org" class="form-control" id="teamOrg">
							<option ng-repeat="org in organisations" value="{{org.orgId}}">{{org.orgName}}</option>
						</select>
					</div>
					<button type="submit" class="btn btn-primary btn-sm"
						translate="usermanage.form.saveBtn">Save</button>
				</form>
			</div>
		</div>
		</tab> </tabset>
	</div>
</div>
