<div class="container" style="width: 100%;">
	<div id="orgViewDiv">
		<tabset> <tab heading="Organisation"
			select="onOrgTabSelect();">
		<div id="bcDiv" style="margin-top: 10px">
			<ol class="breadcrumb" id="orgBc">
				<li ng-repeat="breadcrumb in breadcrumbs"><div
						ng-if="breadcrumb.jsFn == ''">{{breadcrumb.text}}</div>
					<div ng-if="breadcrumb.jsFn != ''">
						<a href="javascript:;" ng-click="back();">{{breadcrumb.text}}</a>
						<span class="divider">/</span>
					</div></li>
			</ol>
		</div>
		<div style="margin-bottom: 10px;">
			<div ng-show="!isOrgCreate" class="usrDivStyle">
				<div style="margin-bottom: 10px;">
					<input class="col-lg-4 pull-right search-box" placeholder="Search"
						type="text" ng-model="search"> <a
						ng-click="createNewOrg();" class="btn btn-med" data-toggle="modal"><span
						class="glyphicon glyphicon-flash"> </span>Create New</a>
				</div>
				<table
					class="table table-condensed table-striped table-bordered table-responsive inner-table"
					style="width: 100%; margin-bottom: 10px;">
					<thead>
						<tr style="height: 40px">
							<th style="width: 33%">Name</th>
							<th style="width: 33%">Description</th>
							<th style="width: 33%">Actions</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="org in organisations | filter:search"
							style="height: 35px;">
							<td>{{org.orgName}}</td>
							<td>{{org.orgDesc}}</td>
							<td>
								<button type="submit" ng-click="updateOrg(org.orgId)"
									class="btn btn-sm" style="width: 100px;">
									<span class="glyphicon glyphicon-pencil"></span> Edit
								</button>
								<button type="submit" ng-click="deleteOrg(org.orgId)"
									class="btn btn-sm btn-delete" style="width: 100px;">
									<span class="glyphicon glyphicon-remove-circle"></span> Delete
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="orgCreateView" ng-show="isOrgCreate" class="usrDivStyle">
				<form name="orgCreateForm" role="form" novalidate
					ng-submit="createOrganisation();">
					<div class="form-group">
						<label translate="usermanage.organisation.name">Name</label> <input
							type="text" class="form-control" id="orgName"
							ng-model="orgDTO.orgName" ng-minlength=1 ng-maxlength=50 required>
					</div>
					<div class="form-group">
						<label translate="usermanage.organisation.desc">Description</label>
						<input type="text" class="form-control" id="orgDesc"
							ng-model="orgDTO.orgDesc" ng-minlength=1 ng-maxlength=50 required>
					</div>
					<button type="submit" class="btn btn-primary btn-sm"
						translate="usermanage.form.saveBtn">Save</button>

				</form>

			</div>
		</div>
		</tab> <tab heading="User" select="onUserTabSelect();">
		<div id="bcDiv" style="margin-top: 10px">
			<ol class="breadcrumb" id="userBc">
				<li ng-repeat="breadcrumb in breadcrumbs"><div
						ng-if="breadcrumb.jsFn == ''">{{breadcrumb.text}}</div>
					<div ng-if="breadcrumb.jsFn != ''">
						<a href="javascript:;" ng-click="back();">{{breadcrumb.text}}</a>
						<span class="divider">/</span>
					</div></li>
			</ol>
		</div>
		<div id="
			inpDiv" style="margin-bottom: 10px;">
			<div ng-show="!isUserCreate" class="usrDivStyle">
				<div style="margin-bottom: 10px;">
					<input class="col-lg-4 pull-right search-box" placeholder="Search"
						type="text" ng-model="search"> <a
						ng-click="createNewUser();" class="btn btn-med"
						data-toggle="modal"><span class="glyphicon glyphicon-flash">
					</span>Create New</a>
				</div>

				<table
					class="table table-condensed table-striped table-bordered table-responsive inner-table"
					style="width: 100%; margin-bottom: 10px;">
					<thead>
						<tr style="height: 40px">
							<th>First Name</th>
							<th>Last Name</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="user in users | filter:search">
							<td>{{user.firstName}}</td>
							<td>{{user.lastName}}</td>
							<td>
								<button type="submit" ng-click="updateUser(user.email)"
									class="btn btn-sm" style="width: 100px;">
									<span class="glyphicon glyphicon-pencil"></span> Edit
								</button>
								<button type="submit" ng-click="deleteUser(user.email)"
									class="btn btn-sm btn-delete" style="width: 100px;">
									<span class="glyphicon glyphicon-remove-circle"></span> Delete
								</button>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div id="usrCreateView" ng-show="isUserCreate" class="usrDivStyle">
				<form name="usrCreateForm" role="form" novalidate
					ng-submit="createUser();">
					<div class="form-group">
						<label translate="usermanage.user.firstname">First Name</label> <input
							type="text" class="form-control" id="userFName"
							ng-model="userDTO.firstName" ng-minlength=1 ng-maxlength=50
							required>
					</div>
					<div class="form-group">
						<label translate="usermanage.user.lastname">Last Name</label> <input
							type="text" class="form-control" id="userLName"
							ng-model="userDTO.lastName" ng-minlength=1 ng-maxlength=50
							required>
					</div>
					<div class="form-group">
						<label translate="usermanage.user.email">Email</label> <input
							type="text" class="form-control" id="userEmail"
							ng-model="userDTO.email" ng-minlength=1 ng-maxlength=50 required
							ng-disabled="editContext">
					</div>
					<button type="submit" class="btn btn-primary btn-sm"
						translate="usermanage.form.saveBtn">Save</button>
				</form>
			</div>
		</div>
		</tab> <tab heading="Team" select="onTeamTabSelect();">
		<div id="bcDiv" style="margin-top: 10px">
			<ol class="breadcrumb" id="teamBc">
				<li ng-repeat="breadcrumb in breadcrumbs"><div
						ng-if="breadcrumb.jsFn == ''">{{breadcrumb.text}}</div>
					<div ng-if="breadcrumb.jsFn != ''">
						<a href="javascript:;" ng-click="back();">{{breadcrumb.text}}</a>
						<span class="divider">/</span>
					</div></li>
			</ol>
		</div>
		<div style="margin-bottom: 10px;">
			<div ng-show="!isTeamCreate" class="usrDivStyle">
				<div style="margin-bottom: 10px;">
					<input class="col-lg-4 pull-right search-box" placeholder="Search"
						type="text" ng-model="search"> <a
						ng-click="createNewTeam();" class="btn btn-med"
						data-toggle="modal"><span class="glyphicon glyphicon-flash">
					</span>Create New</a>
				</div>
				<div>
					<table
						class="table table-condensed table-striped table-bordered table-responsive inner-table"
						style="width: 100%; margin-bottom: 10px;">
						<thead>
							<tr style="height: 40px">
								<th>Name</th>
								<th>Description</th>
								<th>Organisation</th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="team in teams | filter:search">
								<td>{{team.teamName}}</td>
								<td>{{team.teamDesc}}</td>
								<td>{{team.teamOrg.orgName}}</td>
								<td>
									<button type="submit" ng-click="updateTeam(team.teamId)"
										class="btn btn-sm" style="width: 100px;">
										<span class="glyphicon glyphicon-pencil"></span> Edit
									</button>
									<button type="submit" ng-click="deleteTeam(team.teamId)"
										class="btn btn-sm btn-delete" style="width: 100px;">
										<span class="glyphicon glyphicon-remove-circle"></span> Delete
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div id="teamCreateView" ng-show="isTeamCreate" class="usrDivStyle">
				<form name="tmCreateForm" role="form" novalidate
					ng-submit="createTeam();">
					<div class="form-group">
						<label translate="usermanage.team.name">Name</label> <input
							type="text" class="form-control" id="teamName"
							ng-model="teamDTO.teamName" ng-minlength=1 ng-maxlength=50
							required>
					</div>
					<div class="form-group">
						<label translate="usermanage.team.desc">Description</label> <input
							type="text" class="form-control" id="teamDesc"
							ng-model="teamDTO.teamDesc" ng-minlength=1 ng-maxlength=50
							required />
					</div>
					<div class="form-group">
						<label translate="usermanage.team.org">Organisation</label> <select
							ng-model="teamOrg" class="form-control" id="teamOrg">
							<option ng-repeat="org in organisations" value="{{org.orgId}}"
								ng-selected="isSelected(org.orgId);">{{org.orgName}}</option>
						</select>
					</div>
					<div class="form-group">
						<label translate="usermanage.team.selectUsers">Select
							Users for Team</label> <select class="form-control" id="teamUsers"
							multiple="multiple">
						</select>
					</div>

					<button type="submit" class="btn btn-primary btn-sm"
						translate="usermanage.form.saveBtn">Save</button>
				</form>
			</div>
		</div>
		</tab> </tabset>
	</div>
</div>
