/* navbar */
.navbar-default {
	background-color: #E8E8E8;
	border-color: #DADADA;
}
/* title */
.navbar-default .navbar-brand {
	color: #008CBA;
}

.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus
	{
	color: #008CBA;
}
/* link */
.navbar-default .navbar-nav>li>a {
	color: #008CBA;
}

.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus
	{
	color: #008CBA;
	background-color: #D5D5D5;
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus
	{
	color: #008CBA;
	background-color: #E7E7E7;
}

.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a:focus
	{
	color: #008CBA;
	background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav>.dropdown>a .caret {
	border-top-color: #777;
	border-bottom-color: #777;
}

.navbar-default .navbar-nav>.dropdown>a:hover .caret,.navbar-default .navbar-nav>.dropdown>a:focus .caret
	{
	border-top-color: #333;
	border-bottom-color: #333;
}

.navbar-default .navbar-nav>.open>a .caret,.navbar-default .navbar-nav>.open>a:hover .caret,.navbar-default .navbar-nav>.open>a:focus .caret
	{
	border-top-color: #555;
	border-bottom-color: #555;
}

.navbar-default .dropdown-menu>li>a,.navbar-default .dropdown-menu>li>a:focus
	{
	color: #008CBA;
	background-color: #FFFFFF;
}

.dropdown-menu>li {
	background-color: #F8F8F8 !important;
}

.dropdown-menu>li>a {
	background-color: #FFFFFF;
	float: left;
	padding: 12px 15px;
	width: 100%;
	text-align: left;
	cursor: pointer;
}

.alert-danger {
	background-color: #FBE3E4;
	border-color: #FBC2C4;
	color: #E64D3B;
}

.btn-primary {
	background-color: #0088CC;
	border-color: #0079A1;
	color: #FFFFFF;
}

.btn-danger {
	background-color: #F04124;
	border-color: #EA2F10;
	color: #FFFFFF;
}

.btn-success {
	background-color: #1ABC9C;
	border-color: #16967C;
	color: #FFFFFF;
}

.btn-success:hover,.btn-success:focus,.btn-success:active,.btn-success.active,.open .dropdown-toggle.btn-success
	{
	background-color: #16967C;
	border-color: #16967C;
	color: #FFFFFF;
}

.btn-start {
	background-color: #1ABC9C;
	color: #FFFFFF;
	padding: 7px 16px;
}

.btn-sm {
	padding: 4px 16px;
}

.btn-delete {
	background-color: #FF807A;
	color: #FFFFFF;
	width: 20px;
}

.btn-stop {
	background-color: #FFB74B;
	color: #FFFFFF;
	width: 20px;
}

a {
	color: #008CBA;
	cursor: pointer;
	text-decoration: none;
}

table {
	font-size: 14px;
	text-align: center;
}

table th {
	font-weight: normal;
	font-size: 16px;
	text-align: center;
}

table.inner-table th {
	font-weight: bold;
	font-size: 12px;
}

table.inner-table {
	font-size: 12px;
}

.btn-big-signup {
	background-color: #48CAB0;
	border-color: #48CAB0;
	color: #FFFFFF;
	width: 20em;
	height: 3.8em;
}

.btn-xxl {
	background-color: #0088CC;
	border-color: #0088CC;
	color: #FFFFFF;
	width: 15em;
	height: 3em;
	padding: 9px 28px;
}

.btn-med {
	background-color: #0088CC;
	border-color: #0088CC;
	color: #FFFFFF;
	height: 2.5em;
	padding: 9px 28px;
	width: 11em;
}

.btn-danger {
	background-color: #FF807A;
	border-color: #EA2F10;
	color: #FFFFFF;
}

.search-box {
	width: 30em;
	height: 3em;
	padding: 9px;
	margin: 5px 3px 5px 5px;
}

.nav-bar-logo-img {
	width: 109px;
	height: 48px;
	padding: 3px;
	font-weight: normal;
	font-size: 20px;
	text-align: center;
	color: #008CBA;
}

.alert-success {
	background-color: #1ABC9C;
	border-color: #1ABC9C;
	color: #FFFFFF;
}

.well {
	background-color: #FAFAFA;
	border: 1px solid #E8E8E8;
	border-radius: 0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	margin-bottom: 20px;
	min-height: 20px;
	padding: 19px;
}

.dropdown-menu {
	color: #606060;
}

.progress {
	margin-bottom: 0px;
}

.thumbnail:hover { /*  background-color: #0f7b9c; */
	background-color: #CECECE;
	cursor: pointer;
}

.thumbnail:focus,.thumbnail.active {
	background-color: #999999;
	cursor: pointer;
}

#imageDiv {
	float: left;
	height: 120px;
	width: 100px;
	padding-top: 25px;
	background-repeat: no-repeat;
	background-position: center center;
}

#detailsDiv {
	height: 120px;
	margin-left: 100px;
	width: 140px;
	padding-left: 10px;
}

.imgcontainer {
	position: relative;
}

.pace .pace-progress {
	background: #29d;
	position: fixed;
	z-index: 2000;
	top: 0;
	left: 0;
	height: 2px;
	-webkit-transition: width 1s;
	-moz-transition: width 1s;
	-o-transition: width 1s;
	transition: width 1s;
}

.pace-inactive {
	display: none;
}

.wizard-slider-label {
	margin-left: 30px;
	margin-right: 50px;
}

.wizard-btn-gp {
	margin-bottom: 50px;
	margin-left: 30px;
}

.wizard-label-div {
	float: left;
	width: 165px;
}

.slider-val-style {
	padding-left: 15px;
	font-size: 20px;
}

.card { /*   padding-top: 20px; */
	margin: 10px 0 20px 0;
	background-color: #ffffff;
	border: 1px solid #d8d8d8;
	/*   border-top-width: 2px; */
	border-bottom-width: 2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.card .card-heading {
	padding: 0 20px;
	margin: 0;
}

.card .card-heading.simple {
	font-size: 25px;
	/*  font-weight: 1000; */
	/* color: #777; */
	border-bottom: 1px solid #e5e5e5;
}

.card .card-heading.image img {
	display: inline-block;
	width: 46px;
	/*  height: 46px; */
	margin-right: 15px;
	vertical-align: top;
	border: 0;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.card .card-heading.image .card-heading-header {
	display: inline-block;
	vertical-align: top;
}

.card .card-heading.image .card-heading-header h3 {
	margin: 0;
	font-size: 14px;
	line-height: 16px;
	color: #262626;
}

.card .card-heading.image .card-heading-header span {
	font-size: 12px;
	color: #999999;
}

.card .card-body {
	padding: 0 20px;
	margin-top: 20px;
}

.card .card-media {
	padding: 0 20px;
	margin: 0 -14px;
}

.card .card-media img {
	max-width: 100%;
	max-height: 100%;
}

.card .card-actions {
	min-height: 30px;
	padding: 0 20px 20px 20px;
	margin: 20px 0 0 0;
}

.card .card-comments {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0;
	background-color: #f8f8f8;
}

.card .card-comments .comments-collapse-toggle {
	padding: 0;
	margin: 0 20px 12px 20px;
}

.card .card-comments .comments-collapse-toggle a,.card .card-comments .comments-collapse-toggle span
	{
	padding-right: 5px;
	overflow: hidden;
	font-size: 12px;
	color: #999;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.card-comments .media-heading {
	font-size: 13px;
	font-weight: bold;
}

.card.people {
	position: relative;
	display: inline-block;
	width: 170px;
	height: 300px;
	padding-top: 0;
	margin-left: 20px;
	overflow: hidden;
	vertical-align: top;
}

.card.people:first-child {
	margin-left: 0;
}

.card.people .card-top {
	position: absolute;
	top: 0;
	left: 0;
	display: inline-block;
	width: 170px;
	height: 150px;
	background-color: #ffffff;
}

.card.people .card-top.green {
	background-color: #53a93f;
}

.card.people .card-top.blue {
	background-color: #427fed;
}

.card.people .card-info {
	position: absolute;
	top: 150px;
	display: inline-block;
	width: 100%;
	height: 101px;
	overflow: hidden;
	background: #ffffff;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.card.people .card-info .title {
	display: block;
	margin: 8px 14px 0 14px;
	overflow: hidden;
	font-size: 16px;
	font-weight: bold;
	line-height: 18px;
	color: #404040;
}

.card.people .card-info .desc {
	display: block;
	margin: 8px 14px 0 14px;
	overflow: hidden;
	font-size: 12px;
	line-height: 16px;
	color: #737373;
	text-overflow: ellipsis;
}

.card.people .card-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	display: inline-block;
	width: 100%;
	padding: 10px 20px;
	line-height: 29px;
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.card.hovercard {
	position: relative;
	width: 240px;
	padding-top: 0;
	overflow: hidden;
	text-align: center;
	background-color: #fff;
}

.card.hovercard img {
	width: 240px;
	height: 135px;
}

.card.hovercard .avatar {
	position: relative;
	top: -40px;
	margin-bottom: -40px;
}

.card.hovercard .avatar img {
	width: 80px;
	height: 80px;
	max-width: 80px;
	max-height: 80px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
}

.card.hovercard .info {
	padding: 4px 8px 10px;
}

.card.hovercard .info .title {
	margin-bottom: 4px;
	font-size: 24px;
	line-height: 1;
	color: #262626;
	vertical-align: middle;
}

.card.hovercard .info .desc {
	overflow: hidden;
	font-size: 12px;
	line-height: 20px;
	color: #737373;
	text-overflow: ellipsis;
}

.card.hovercard .bottom {
	padding: 0 20px;
	margin-bottom: 17px;
}

.card-box {
	background-color: rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 2px;
	color: #666666;
	display: inline-block;
	font-size: 11px;
	line-height: 14px;
	margin-top: 5px;
	margin-left: 4px;
	margin-right: 4px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.noti_bubble {
	position: absolute;
	/* This breaks the div from the normal HTML document. */
	top: -6px;
	right: -3px;
	padding: 1px 2px 1px 2px;
	background-color: #666666;
	/* you could use a background image if you'd like as well */
	color: white;
	font-weight: bold;
	font-size: 10px;
	/* The following is CSS3, but isn't crucial for this technique to work. */
	/* Keep in mind that if a browser doesn't support CSS3, it's fine! They just won't have rounded borders and won't have a box shadow effect. */
	/* You can always use a background image to produce the same effect if you want to, and you can use both together so browsers without CSS3 still have the rounded/shadow look. */
	border-radius: 30px;
	box-shadow: 1px 1px 1px gray;
}

.card_button {
	height: 25px;
	width: 25px;
	margin-left: 10px;
	margin-right: 10px;
	cursor: pointer;
	cursor: hand;
}

.card_uptime {
	height: 10px;
	font-size: 10px;
	margin-top: 15px;
	margin-bottom: 10px;
}

.card_bar {
	background-color: #F8F8F8;
	margin-bottom: 10px;
	margin-top: 10px;
	min-height: 40px;
	padding: 0px;
}

.card_desc {
	font-size: 12px;
	margin-top: -15px;
	margin-bottom: 15px;
	max-height: 100px;
	overflow: hidden;
}

.sel_appImage {
	background-color: #E7E7E7;
}

.output {
	border-left: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-color: #D8D8D8;
	height: 200px;
	padding: 20px;
	overflow: auto;
}

.appImages_block {
	margin-top: 20px;
	border: 1px solid;
	border-color: #D8D8D8;
	padding: 10px;
	height: 160px;
	margin-left: 0px;
	margin-right: 0px;
}

.runscript_box { /* border-top : 1px solid #D8D8D8; */
	border-bottom: 1px solid #D8D8D8;
	border-left: 1px solid #D8D8D8;
	border-right: 1px solid #D8D8D8;
	padding: 20px;
	border-radius: 3px;
	margin-bottom: 10px;
}

.usrDivStyle {
	padding-top: 15px;
	/* background-color: #F8F8F8; */
}

.divider {
	margin-left: 2px;
	margin-right: 2px;
}

/* for picklist */

.pickList_sourceListContainer,.pickList_controlsContainer,.pickList_targetListContainer
	{
	float: left;
	margin: 0.25em;
}

.pickList_controlsContainer {
	text-align: center;
	margin-top:40px;
}

.pickList_controlsContainer button {
	display: block;
	width: 100%;
	text-align: center;
}

.pickList_list {
	list-style-type: none;
	padding: 5px;
	float: left;
	width: 150px;
	height: 150px;
	border: 1px inset;
	overflow-y: auto;
	cursor: default;
	background-color: #FFFFFF;	
}

.pickList_selectedListItem {
	background-color: #a3c8f5;
}

.pickList_listLabel {
	font-size: 0.9em;
	font-weight: bold;
	text-align: center;
}

.pickList_clear {
	clear: both;
}