/* navbar */
.navbar-default {
	background-color: #E8E8E8;
	border-color: #DADADA;
}
/* title */
.navbar-default .navbar-brand {
	color: #008CBA;
}

.navbar-default .navbar-brand:hover,.navbar-default .navbar-brand:focus
	{
	color: #008CBA;
}
/* link */
.navbar-default .navbar-nav>li>a {
	color: #008CBA;
}

.navbar-default .navbar-nav>li>a:hover,.navbar-default .navbar-nav>li>a:focus
	{
	color: #008CBA;
	background-color: #D5D5D5;
}

.navbar-default .navbar-nav>.active>a,.navbar-default .navbar-nav>.active>a:hover,.navbar-default .navbar-nav>.active>a:focus
	{
	color: #008CBA;
	background-color: #E7E7E7;
}

.navbar-default .navbar-nav>.open>a,.navbar-default .navbar-nav>.open>a:hover,.navbar-default .navbar-nav>.open>a:focus
	{
	color: #008CBA;
	background-color: #D5D5D5;
}
/* caret */
.navbar-default .navbar-nav>.dropdown>a .caret {
	border-top-color: #777;
	border-bottom-color: #777;
}

.navbar-default .navbar-nav>.dropdown>a:hover .caret,.navbar-default .navbar-nav>.dropdown>a:focus .caret
	{
	border-top-color: #333;
	border-bottom-color: #333;
}

.navbar-default .navbar-nav>.open>a .caret,.navbar-default .navbar-nav>.open>a:hover .caret,.navbar-default .navbar-nav>.open>a:focus .caret
	{
	border-top-color: #555;
	border-bottom-color: #555;
}

.navbar-default .dropdown-menu>li>a,.navbar-default .dropdown-menu>li>a:focus
	{
	color: #008CBA;
	background-color: #FFFFFF;
}

.dropdown-menu>li {
	background-color: #F8F8F8 !important;
}

.dropdown-menu>li>a {
	background-color: #FFFFFF;
	float: left;
	padding: 12px 15px;
	width: 100%;
	text-align: left;
	cursor: pointer;
}

.alert-danger {
	background-color: #FBE3E4;
	border-color: #FBC2C4;
	color: #E64D3B;
}

.btn-danger {
	background-color: #F04124;
	border-color: #EA2F10;
	color: #FFFFFF;
}

.btn-success {
	background-color: #1ABC9C;
	border-color: #3C9A5F;
	color: #FFFFFF;
}

.btn-start {
	background-color: #1ABC9C;
	color: #FFFFFF;
	padding: 7px 16px;
}

.btn-sm {
	padding: 4px 16px;
}

.btn-delete {
	background-color: #FF807A;
	color: #FFFFFF;
	width: 20px;
}

.btn-stop {
	background-color: #FFB74B;
	color: #FFFFFF;
	width: 20px;
}

table {
	font-size: 14px;
	text-align: center;
}

table th {
	font-weight: normal;
	font-size: 16px;
	text-align: center;
}

.btn-big-signup {
	background-color: #48CAB0;
	border-color: #48CAB0;
	color: #FFFFFF;
	width: 20em;
	height: 3.8em;
}

.btn-xxl {
	background-color: #0088CC;
	border-color: #0088CC;
	color: #FFFFFF;
	width: 15em;
	height: 3em;
	padding: 9px 28px;
}

.btn-danger {
	background-color: #FF807A;
	border-color: #EA2F10;
	color: #FFFFFF;
}

.search-box {
	width: 30em;
	height: 3em;
	padding: 9px;
	margin: 5px 3px 5px 5px;
}

.nav-bar-logo-img {
	width: 109px;
	height: 48px;
	padding: 3px;
	font-weight: normal;
	font-size: 20px;
	text-align: center;
	color: #008CBA;
}

.alert-success {
	background-color: #1ABC9C;
	border-color: #1ABC9C;
	color: #FFFFFF;
}

.well {
	background-color: #FAFAFA;
	border: 1px solid #E8E8E8;
	border-radius: 0;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
	margin-bottom: 20px;
	min-height: 20px;
	padding: 19px;
}

.dropdown-menu {
	color: #606060;
}

.progress {
	margin-bottom: 0px;
}

.thumbnail:hover { /*  background-color: #0f7b9c; */
	background-color: #CECECE;
	cursor: pointer;
}

.thumbnail:focus,.thumbnail.active {
	background-color: #999999;
	cursor: pointer;
}